@import "tailwindcss";
@tailwind base;
 @tailwind components;
 @tailwind utilities;
 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
/* Botón rojo */
.btn-red {
    background-color: rgba(214, 67, 67, 0.87);
    color: white;
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-red:hover {
    background-color: darkred; /* Color más oscuro al pasar el mouse */
}

/* Botón verde */
.btn-green {
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-green:hover {
    background-color: #033120; /* Color más oscuro al pasar el mouse */
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex; /* Añade esta línea */
  justify-content: flex-end; /* Añade esta línea */
  align-items: center; /* Añade esta línea */
}
/* Contenedor para la escena de Three.js */
/* Contenedor para la escena de Three.js */
#three-container {
    height:100vh;
    width:100%;
    position:fixed;
    top:0;
    z-index: -4;
    overflow: hidden;
    left:0;
 }
 #video-container video {
    position: fixed; /* Posición absoluta para llenar el contenedor */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el video al centro */
    width: 100%; /* Asegura que el video ocupe todo el ancho */
    height: 100%; /* Asegura que el video ocupe todo el alto */
    object-fit: cover; /* Hace que el video cubra todo el contenedor sin distorsión */
    z-index: -1; /* Asegura que el video esté detrás de otros elementos */
}
 .img-skill {
    width: 256px;
    height: 256px;
    margin-left: 5px;
 }
 
 
 
 @layer components{

    .slider{
        @apply grid;
        grid-template-areas: "slide";

    }
    .slider-childs button {
        z-index: 10;
    }
    .slider-childs {
        @apply before:absolute before:inset-0 before:bg-gradient-to-b from-transparent to-black;
        grid-area: slide;
        transition: opacity 0.6s ease-in-out;
        z-index: -1;
        opacity: 0;
    }
    .slider-childs img {
        pointer-events: none;
    }
    [data-active] {
        order: 1;
        transition: opacity 0.6s ease-in-out;
        opacity: 1;
    }

    .slider-prev{
        grid-area: slide;
        @apply z-[100] self-center justify-self-start;
        z-index: 0;
    }

    .slider-next{
        grid-area: slide;
        @apply z-[100] self-center justify-self-end;
        z-index: 0;
    }

}